<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.not.futbol8alemadmin" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Actividades.Act_Principal"
            android:label="@string/title_activity_act__principal" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.Act_RegistrarEquipo"
            android:label="@string/title_activity_act__registrar_equipo" >
        </activity>
        <activity
            android:name=".Actividades.Act_CrearPartido"
            android:label="@string/title_activity_act__crear_partido" >
        </activity>
        <activity
            android:name=".Actividades.Act_partidos"
            android:label="@string/title_activity_act_partidos" >
        </activity>
        <activity
            android:name=".Actividades.Act_Partido_A_finalizar"
            android:label="@string/title_activity_act__partido__a_finalizar" >
        </activity>
        <activity
            android:name=".Actividades.Act_Inicio"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Actividades.Act_finalizarPartido"
            android:label="@string/title_activity_act_finalizar_partido" >
        </activity>
    </application>

</manifest>
